
/************************  SCSS ***************************/

@import "variables";

/**********************************************************/
.slack-window {
  max-height: 100vh;
  overflow: hidden;
  min-width: 100vw !important;

  .App-header{
    background-color: #39394d !important;
    min-height: 100% !important;
    min-width: 100% !important;
    margin: 0 !important;
    padding: 1% 0 !important;

    .container {
      min-width: 100%;
      margin: 0 !important;
      padding: 0 !important ;
    }
  }
}
.slack-user-window {
  background-color: #4d394b;
  color: #fafafa;

  padding: 1% 1% !important; 

  .status {
    background-color: transparent;
    border: 2px gray solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;

    margin-right: 10px;
  }
  .active {
    background-color: green;
    border: none;
  }
}

.slack-body {

  //height: 93vh;
  width: 100%;
  background-color: #fafafa;

  .panel-body {
    margin: 1% 1%;
    overflow: auto;
    min-height: 60vh;
    max-height: 65vh;
    padding: 2%;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: gray;
    }

    .chat
    {
        list-style: none;
        margin: 1% 0;
        padding: 0;
        
        .img-circle {
          background-color: greenyellow;
          width: 50px;
          height: 50px;
          display: inline-block;
          border-radius: 50%;
          text-align: center;
          align-self: center;
          padding-top: 13px;
        }

        .time-status {
          color: #777777;
          margin-left: 10px;
          .status {
            height: 10px;
            width: 10px;
            background-color: gray;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
          }
          .active {
            background-color: green;
          }
        }
    }

    .reply {
      padding-left: 3%;

      .img-circle {
        background-color: lightgray;
      }
    }
  }

  .chat-panel-footer {
    margin: 2% 5% 0 5%;

    .chat-icon {
          background-color: rgba(93, 136, 236, 0.1);
          width: 45px;
          height: 45px;
          display: inline-block;
          border-radius: 50%;
          text-align: center;
          align-self: center;
          padding-top: 12px;

    }

      input {
        min-width: 500px !important;

      }
      
  }
}