
/************************  SCSS ***************************/

@import "variables";

/***************************************************************/
body {
  background-color: lightgray;
}

.signup-page, .signin-page {
    box-sizing: border-box;
    padding: 1% 20%;
    //color: black;
  
    hr {
      margin-top: 5%;
      border: 1px solid gray;
      margin-bottom: 25px;
    }
    .already-signin {
      box-sizing: border-box;
      padding: 16px;
      text-align: center;
    }
  }
  
  .signup-form {
    background-color: #fafafa;
    overflow: overlay;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 3% 5% 3% 5%;
    position: "absolute";
    margin: 1% 0% 1% 0%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    max-width: 800px;

    .error {
      position: relative;
      float: right;
      color: red;
      margin: 4px 0;
      font-size: small;
    }
  }
  
  
  /**************************************/
  .formbuttondiv {
    overflow: auto;
    padding-top: 2%;
  }
  .formbutton {
    width: 100%;
    background-color: $sec-color;
    padding: 1% 5%;
    border-radius: 45px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }
  /*********************************
  
  /********************************                  *************/
  .signup-form .input-component {
    input,
    textarea {
      border: 1px solid gray;
    }
    input::placeholder,
    textarea::placeholder {
      color: #555;
    }

    
  }
  input[type= date] {
    width: 100%;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;

    &:focus {
      border: none;
      color: transparent;
    }
  }
  .input-component {
    margin-bottom: 3%;
    input,
    textarea {
      //color: white;
      background-color: transparent;
      font-size: $small-text;
      line-height: normal;
      padding: 2.5% 2.5%;
      display: block;
      font-family: $font-family;
      width: 100%;
      border: 1px solid gray;
      border-radius: 5px;
      box-sizing: border-box;
      outline: none;
  
      &::placeholder {
        font-size: $small-text;
        font-weight: 600;
        //color: $font-color;
      }
    }
    textarea {
      overflow: hidden;
    }
    .placeholder {
      font-size: 0.8rem;
      margin-right: 3%;
      margin-top: -4%;
      text-align: right;
      float: right;
      background-color:rgba(0, 0, 0, 0.1) !important;
      cursor: help;
    }
    input:not(:placeholder-shown) ~ .placeholder,
    textarea:not(:placeholder-shown) ~ .placeholder {
      display: none;
    }
  }
  
  .input-component-responsive {
    position: relative;
    @include margins(5%, null, 8%, null);
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #fafafa inset !important;
    }
  
    input:-webkit-autofill {
      -webkit-text-fill-color: black !important;
    }
    .input-component-label {
      font-size: 16px;
      font-weight: 600;
      position: absolute;
      pointer-events: none;
      @include positions(20%, null, null, 55);
      opacity: 0.65;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .formik-input {
      background-color: transparent;
      font-size: 14px;
      line-height: normal;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid darkgray;
      box-sizing: border-box;
    }
  
    .formik-input:focus {
      outline: none;
    }
    .formik-input:focus ~ .input-component-label,
    .formik-input:not(:placeholder-shown) ~ .input-component-label {
      top: -35%;
      font-size: 14px;
      opacity: 0.9;
    }
    .formik-input:focus ~ .error {
      display: none;
    }
    .placeholder {
      font-size: 10px;
      padding-right: 2%;
      color: lightslategray;
      margin-top: -3%;
      float: right;
      transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
    }
    .formik-input:focus ~ .placeholder,
    .formik-input:not(:placeholder-shown) ~ .placeholder {
      margin-top: 0.5%;
    }
    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    .bar:before,
    .bar:after {
      content: "";
      @include width-height(0, 2px);
      bottom: -1px;
      position: absolute;
      background: $sec-color;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }
    .formik-input:focus ~ .bar:before,
    .formik-input:focus ~ .bar:after {
      width: 50%;
    }
  
    .highlight {
      position: absolute;
      @include width-height(100%, 60%);
      @include positions(25%, null, null, 0);
      pointer-events: none;
      opacity: 0.5;
    }
    .formik-input:focus ~ .highlight {
      -webkit-animation: highlighteranimation 0.4s ease;
      -moz-animation: highlighteranimation 0.4s ease;
      animation: highlighteranimation 0.4s ease;
    }
    @-webkit-keyframes highlighteranimation {
      from {
        background: gray;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes highlighteranimation {
      from {
        background: gray;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes highlighteranimation {
      from {
        background: gray;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
  /********************************/
  .signup-form .input-component-responsive {
    @include margins(4%, null, 4%, null);
  }
  /**************************************************/
  
  
  
  /******************************/
  .uploader {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 0 1 250px;
    position: relative;
    border: 1px lightgray solid;
    border-radius: 5px;
  
    &:hover {
      opacity: 0.7;
    }
    .loaded {
      opacity: 1;
    }
    .uploader-preloaded {
      overflow: hidden;
      flex-direction: column;
      margin-left: 5%;
      margin-top: 2%;
    }
    .uploaderinput {
      display: none;
    }
    .uploader .uploaderimg .uploadericon {
      pointer-events: none;
    }
    .uploadericon {
      color: #555;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 35%;
      margin-top: 8%;
      img {
        width: auto;
        height: 15%;
        padding-left: 15%;
      }
    }
    .uploaderimg {
      position: absolute;
      border-radius: 5px;
      transition: all 1000ms ease-in;
      transform: translate(-50%, -50%);
      z-index: 0;
      width:100%;
      height: 100%;
      @include positions(50%, null, null, 50%);
    }
    .title {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 1%;
    }
    .place-holder {
      font-size: 0.8rem;
    }
  }
  /*******************************************************************************************************************************/
  
  /********************************************************************/
  .checkbox-group {
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 700px) {
      width: 89%;
    }
    .title {
      font-size: $normal-text;
      min-width: 33%;
    }

    .carton {
      margin: 1%;
      display: block;
      position: relative;
      padding-left: 50px;
      cursor: pointer;
      
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      .radio-title {
        font-size: $normal-text;
      }
      .radio-description {
        font-size: $small-text;
      }
      
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background-color: #ccc;
      border: 1px darkgray solid;
      border-radius: 10%;
      
      &.radio {
        border-radius: 50% !important;
      }
    }
  
    
    .carton:hover input ~ .checkmark {
      background-color: #999;
    }
    .carton input:checked ~ .checkmark {
      background-color: #fff;
    }
    .checkmark::after {
      content: "";
      position: absolute;
      display: none;
    }

    .carton input:checked ~ .checkmark::after {
      display: block;
    }
    .carton .checkmark::after {
      top: 4px;
      left: 4px;
      width: 20px;
      height: 20px;
      background: $sec-color;
      border-radius: 10%; 
    }
    .carton .radio::after {
      border-radius: 50%;
    }
  }


  /*--------------tags ----------------*/

.custom-input-tags-dropdown {
  width: 100%;
  p {
    &.title {
      font-weight: bold;
      font-size: $normal-text;
    }
  }

  .tags-container {
    border: 1px solid lightgray;
    padding: 3%;
    border-radius: 15px;
    .item-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .tag {
        display: flex;
        flex-direction: row;
        width: fit-content;
        white-space: pre;

        .close {
          font-size: 0.8rem;
          margin-left: 3px;
          position: relative;
          float: none;
        }
      }
    }

    .add-tag {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      padding: 2% 4%;
      font-size: $small-text;

      span {
        margin-top: 5px;
        margin-bottom: 3px;
        margin-right: 7px;
        white-space: pre;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
/*-----------------------------------------------*/

/****************    .custom-select ***************************/

.custom-select {
  
    width: 100%;
    border: 1px solid var(--select-border);
    border-radius: 5px;
    
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  
    position: relative;
    font-family: Arial;

    display: grid;

    &:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, .2);
      color: #222; 
      outline: none;
    }


    option {
      color: #666;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;

    
    }
    


  &::before, &::after {
    box-sizing: border-box;
  }
  &::after{
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;
  }

}

/**************************************************/